.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-container {
  background-image: linear-gradient(#FDB298, #B176FE);
  width: 100%;
  height: 500px;
}

.calendar-container {
  width: 60%;
  margin: auto;
  position: relative;
  top: 150px;
}

.weekdays-container {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  align-content: center;
  vertical-align: middle;

}